html {
  font-family: sans-serif;
}

body {
  width: 80vw; /* Breite des Elements */
  margin: 0 auto; /* Alles in die Mitte packen */
  margin-top: 50px; /* Abstand zum oberen Seitenrand */
  background-color: Azure;
}

h1 {
  color: Maroon; 
  
}

h2 {
  text-decoration-line: underline;
}

h4{
  color:;
}

p {
  margin: 15px;
}

p1{
  margin: 0px;
  font-family: sans-serif;
  margin-left: 15px;
  
}

img {
  margin-left: 30px;
}

.Unterschrift{
  margin-left: 0px;
  color: Red;
}

.kleines-bild {
  width: 200px; /* Bildgröße */
  margin-left: 30px; /* Abstand nach links */
  float: right; /* Rechts positionieren, während der Text links bleibt */
}

.winziges-bild {
  height: 12px; /* Bildhöhe soll ungefähr der Texthöhe entsprechen */
}

.abstand {
  height: 20vh; /* Höhe des Abstands-Elements */
}

.kleiner-paragraph {
  font-size: 12px; /* Textgröße */
  color: grey; /* Textfarbe */
  text-align: center; /* Text-Zentrierung */
}
